<!DOCTYPE html>
<html>
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="templates/login.css" />
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    </head>
    <body>
        <div id="content">
            <h1>Welcome!</h1>
            <form action="First" method="post">
                <div class="input-bar">
                    <label for="name">username</label>
                    <input type="text" id="name" class="input" name="name">
                    <box-icon class='far fa-user-circle' style='font-size:24px' name='user'></box-icon>
                </div>
                <div class="input-bar">
                    <label for="password">password</label>
                    <input type="password" id="pass" class="input" name="pass">
                    <box-icon class='fas fa-lock' style='font-size:24px' name='lock-alt' ></box-icon>
                </div>
                <div>
                    <input type="submit" id="btn" value="Login">
                </div>
            </form>
            <!--        <button type="submit" id="btn">Login</button>-->
        </div>
        <script src="templates/login.js"></script>

    </body>
</html>


